
.dash_cus {
    padding: 50px 0px;
}

.user_info {
    background: #fff;
    padding: 20px 0px;
    overflow: hidden;
}

.user_info h2 {
    font-size: 24px;
    margin-top: 0;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif !important;
    padding-bottom: 5px;
    border-bottom: 1px solid #ebeff2;
}

input.form-control.cus_input:focus {
    box-shadow: none;
}

input.form-control.cus_input {
    border-radius: 0;
}

label.col-md-3.col-form-label {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif !important;
}

input.form-control.cus_input_btn {
    background: #008400;
    color: #fff;
    border-radius: 0;
    border-color: #008400;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif !important;
}

input.form-control.cus_input_btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.membership_detail span {
    font-weight: 300;
    margin-left: 15px;
}

p.membership_detail {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif !important;
}

h4 {
    margin: 1rem 0rem 1rem;
}

.inlineClass {
    display: flex;
}

.form-check.form-check-inline {
    padding-right: 10px;
}

input.form-control.cus_input {
    border-radius: 5px;
    width: auto;
}

.addMargin {
    margin-top: 16px;
}

.borderClass {
    border-top: 1px solid #ccc;
    margin-bottom: 14px;
    margin-top: 14px;
}

.addBorder {
    border: 1px solid #000;
    padding-bottom: 40px;
}

.align {
    text-align: center;
}

.header {
    background: #61d7bb;
    color: #fff;
}

.footer {
    background: #61d7bb;
    color: #fff;
    border: 1px solid #61d7bb;
}

.paraAlign {
    text-align: center;
    margin: 0 0 0px;
    font-size: 11px;
}

.mrgnBottom {
    margin-bottom: 20px;
}

.mrgnTop {
    margin-top: 20px;
    border-right: 2px solid #61d7bb;
}

.underline {
    text-decoration: underline;
}

.addPadding {
    padding: 30px;
}

.buttonCss {
    margin-top: 16px;
    padding-left: 30px;
}

table tr td {
    padding: 4px;
    width: 100%;
    margin-bottom: 20px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    font-size: 14px !important;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
table th{
     background-color:#8FBC15 ;
     border: 1px solid #8FBC15;
     height: 30px;
     font-family: Verdana, Geneva, Tahoma, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-weight: bold;
     color:white;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}